extends layout

block content
  h1= title
  p Project 10 - NWM State University | Sem Stassen

  button(type="button", class="btn btn-primary", onClick="double()") I am a button
  div#double Up the amount

  script. 
    let value = 0;
    let power = 1;

    const contentDiv = document.getElementById("double");

    function double() {
      value++;
      power = power * 2;

      contentDiv.textContent = `${value} to to power ${power} is ${value**power}`;
    }
    
  a(href="/pigeon", class="mt-3 d-block") Pigeon search results
  a(href="/grid", class="mt-3 d-block") Query param grid
  a(href="/pick", class="mt-3 d-block") Pick random images

